<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>P1</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.P1.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.revature.P1.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeProfile</servlet-name>
    <servlet-class>com.revature.P1.servlet.EmployeeProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProfile</servlet-name>
    <url-pattern>/employeeProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>x</servlet-name>
    <servlet-class>com.revature.P1.servlet.ManagerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>x</servlet-name>
    <url-pattern>/managerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reimbursement</servlet-name>
    <servlet-class>com.revature.P1.servlet.ReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reimbursement</servlet-name>
    <url-pattern>/addReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Session</servlet-name>
    <servlet-class>com.revature.P1.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ChangeUsername</servlet-name>
    <servlet-class>com.revature.P1.servlet.ChangeUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUsername</servlet-name>
    <url-pattern>/changeUsername</url-pattern>
  </servlet-mapping>
</web-app>